/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of CSS reset */

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
  transition-delay: 2s;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 8%;
  text-align: center;
}
#main-section {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/adf-wide.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  text-align: left;
  width: 100%;
  min-height: 65vh;
}

#main-section p {
  margin: 20px 0px;
}

#event-section {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/gallery-preaching.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  min-height: 33vh;
}

#event-section p {
  margin: 20px 0px 30px 0px;
}

.transp-white-button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: inline-block;
}

#quote-header {
  font-size: 2em;
  text-align: center;
}

.review {
  /*border-right: 1px solid grey;*/
  max-width: 25%;
  text-align: left;
}

.quoted {
  text-align: right;
}

.review:last-child {
  border-right: none;
}

.review .quote {
  font-weight: bold;
}

.gold-button {
  text-align: center;
  color: white;
  background-color: gold;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid gold;
  padding: 10px;
  margin: 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin: 1em 0em;
}

p {
  margin: 10px;
}

#tagline {
  line-height: 150%;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 30px 0px;
}

#contact-text {
  flex: 0 1 auto;
  padding: 10px;
  border-right: 2px solid grey;
}

#contact-form {
  padding: 10px;
  flex: 3 1 auto;
}

header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

header img {
  max-height: 100%;
  flex: 1 1 auto;
  align-self: center;
  object-fit: contain;
}

header h1 {
  flex: 1 1 auto;
  align-self: center;
}

header nav {
  flex: 3 1 auto;
  align-self: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 5px;
  border-left: 1px solid grey;
  margin: 5px;
  text-align: center;
}

footer {
  color: white;
  background-color: black;
}

footer nav {
  justify-content: flex-end;
}

footer nav a {
  color: white;
}
